<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<footer th:fragment="footer" class="footer has-background-white py-5">
  <div class="container">
    <div class="has-text-centered mb-4">
      <img src="https://pub-ff62bf51a3fa432ab455c83ccd93e3a1.r2.dev/logo-vertical.png" alt="PetGO logo" class="petgo-logo" style="height:50px;width:auto;" />
    </div>
    <hr />
    <div class="columns is-vcentered">
      <div class="column has-text-weight-bold">
        <p>PetGO Serviços de Petshop</p>
      </div>
      <div class="column has-text-centered has-text-weight-bold">
        <p>Rua Maria da Silva Santos, 8888</p>
      </div>
      <div class="column is-flex is-align-items-center is-justify-content-flex-end has-text-weight-bold" style="gap: 1rem;">
        <p>+55555555555555</p>
        <div class="buttons mb-0">
          <a class="button" href="#"><span class="icon has-text-primary"><i class="fab fa-instagram"></i></span></a>
          <a class="button" href="#"><span class="icon has-text-primary"><i class="fab fa-facebook"></i></span></a>
          <a class="button" href="#"><span class="icon has-text-primary"><i class="fab fa-whatsapp"></i></span></a>
          <a class="button" href="#"><span class="icon has-text-primary"><i class="fab fa-tiktok"></i></span></a>
        </div>
      </div>
    </div>
  </div>
</footer>

</body>
</html>
